.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 1rem;
    background: #333;
    color: #fff;
  }
  
  .title {
    flex: 1;
    cursor: pointer;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navigation a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .book_online_button {
    display: flex;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  